services:
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "80:80"
      - "443:443"
    environment:
      - NODE_ENV=production
    depends_on:
      - server
    restart: unless-stopped
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes: 
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    command: certonly --webroot -w /var/www/certbot --keep-until-expiring --email danozh.b@gmail.com -d unreal-rooms.ru --agree-tos
    networks:
      - certbot-network

  server:
    # Указываем, что сервис 'server' теперь собирается из директории backend_new
    build:
      context: ./backend_new
      dockerfile: Dockerfile
    # Меняем имя образа для ясности
    image: hotel-booking-backend-new
    # Пробрасываем порт 8000 (uvicorn) на 8080 (для nginx)
    ports:
      - "8080:8000"
    depends_on:
      - db
    environment:
      # Переменные для подключения к БД (из .env)
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      # Секретный ключ Django (из .env)
      - DJANGO_SECRET_KEY=${DJANGO_SECRET_KEY}
      # Указываем хост БД для Django
      - DATABASE_HOST=db
    volumes:
      # Монтируем том для хранения персистентных данных бэкенда (например, флаг-файла)
      - backend_persistent_data:/app/persistent_data
    restart: unless-stopped

  db:
    image: postgres:17
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
  # Том для персистентных данных бэкенда
  backend_persistent_data:

networks:
  certbot-network:
    driver: bridge
