services:
  client:
    build:
      context: ./client
      dockerfile: Dockerfile.dev
    volumes:
      - ./client/:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      NODE_ENV: development
      HOST: "0.0.0.0"
      VITE_API_BASE_URL: "http://localhost:8080/api"
    command: sh -c "npm install && npm run dev"

  certbot:
    profiles:
      - cert # отключаем сервис для dev

  server:
    build:
      context: ./backend_new
      dockerfile: Dockerfile
    # Для локальной разработки монтируем исходный код напрямую в контейнер.
    # Это позволяет uvicorn автоматически перезагружать сервер при изменениях в коде.
    volumes:
      - ./backend_new/:/app
    environment:
      # Включаем режим отладки Django для более подробных логов об ошибках
      - DJANGO_DEBUG=True
    # Переопределяем команду запуска, добавляя флаг --reload для hot-reload.
    command: uvicorn asgi:application --host 0.0.0.0 --port 8000 --reload


  db:
    ports:
      - "5432:5432"
